In [1]:
import pandas as pd
data = pd.read_csv('JPvideos.csv')
data.columns

Index(['video_id', 'trending_date', 'title', 'channel_title', 'category_id',
       'publish_time', 'tags', 'views', 'likes', 'dislikes', 'comment_count',
       'thumbnail_link', 'comments_disabled', 'ratings_disabled',
       'video_error_or_removed', 'description'],
      dtype='object')

In [2]:
data['time'] = data.publish_time.str.slice(11,19)

In [3]:
data.shape

(20523, 17)

In [4]:
data

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,time
0,5ugKfHgsmYw,18.07.02,陸自ヘリ、垂直に落下＝路上の車が撮影,時事通信映像センター,25,2018-02-06T03:04:37.000Z,"事故|""佐賀""|""佐賀県""|""ヘリコプター""|""ヘリ""|""自衛隊""|""墜落""|""落下""|""現...",188085,591,189,0,https://i.ytimg.com/vi/5ugKfHgsmYw/default.jpg,True,False,False,佐賀県神埼市の民家に墜落した陸上自衛隊のＡＨ６４Ｄ戦闘ヘリコプターが垂直に落下する様子を、近...,03:04:37
1,ohObafdd34Y,18.07.02,イッテQ お祭り男宮川×手越 巨大ブランコ②,神谷えりな Kamiya Erina 2,1,2018-02-06T04:01:56.000Z,[none],90929,442,88,174,https://i.ytimg.com/vi/ohObafdd34Y/default.jpg,False,False,False,NaN,04:01:56
2,aBr2kKAHN6M,18.07.02,Live Views of Starman,SpaceX,28,2018-02-06T21:38:22.000Z,[none],6408303,165892,2331,3006,https://i.ytimg.com/vi/aBr2kKAHN6M/default.jpg,False,False,False,NaN,21:38:22
3,5wNnwChvmsQ,18.07.02,東京ディズニーリゾートの元キャストが暴露した秘密5選,アシタノワダイ,25,2018-02-06T06:08:49.000Z,アシタノワダイ,96255,1165,277,545,https://i.ytimg.com/vi/5wNnwChvmsQ/default.jpg,False,False,False,東京ディズニーリゾートの元キャストが暴露した秘密5選\n\nかたまりクリエイトさま\n【検証...,06:08:49
4,B7J47qFvdsk,18.07.02,榮倉奈々、衝撃の死んだふり！映画『家に帰ると妻が必ず死んだふりをしています。』特報,シネマトゥデイ,1,2018-02-06T02:30:00.000Z,[none],108408,1336,74,201,https://i.ytimg.com/vi/B7J47qFvdsk/default.jpg,False,False,False,家に帰ってきたサラリーマンのじゅん（安田顕）は、玄関で血を出して倒れている妻ちえ（榮倉奈々）...,02:30:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20518,GuWCkLnCMOo,18.14.06,หนึ่งด้าวฟ้าเดียว NeungDaoFahDeaw EP.15 ตอนที่...,Ch3Thailand,24,2018-06-13T17:00:01.000Z,"หนึ่งด้าวฟ้าเดียว|""NeungDaoFahDeaw""|""เจมส์ จิร...",81321,321,17,61,https://i.ytimg.com/vi/GuWCkLnCMOo/default.jpg,False,False,False,หลังจบละครทางหน้าจอทีวี สามารถรับชมได้อีกครั้ง...,17:00:01
20519,nOUlB0i2MaA,18.14.06,2018 국민의 선택 - 선거방송 '왕의 귀환' 12시간 연속 생중계! (풀영상) ...,SBS 뉴스,25,2018-06-13T19:10:31.000Z,"뉴스|""NEWS""|""news""|""SBS""|""sbs""|""SBS NEWS""|""SBS8N...",433188,0,0,175,https://i.ytimg.com/vi/nOUlB0i2MaA/default.jpg,False,True,False,'선거방송의 명가' SBS가 온다! SBS가 제 7회 전국동시지방선거(6·13 지방...,19:10:31
20520,4cRanIowkTE,18.14.06,元FBIエージェントが教える、200％人を引き付けるようになるコツ、トップ10,ブライトサイド | Bright Side Japan,26,2018-06-13T14:00:02.000Z,"人々を魅了する方法|""魅力的になるには""|""成功の秘訣""|""簡単なトリック""|""人から好かれ...",39235,1194,27,46,https://i.ytimg.com/vi/4cRanIowkTE/default.jpg,False,False,False,元FBIエージェント、ジャック･シェーファー医師が明かす、人に200％魅力的に見せるトリック...,14:00:02
20521,oLtWIVBVoS8,18.14.06,日本×パラグアイ徹底分析&スペイン代表監督解任事件を解説【トークtheフットボール】#683,Leo the football TV,17,2018-06-13T13:56:47.000Z,"W杯|""ワールドカップ""|""蹴球""|""思想家""|""ラジオ""|""ナポリ""|""ライプツィヒ""|""...",49900,431,66,336,https://i.ytimg.com/vi/oLtWIVBVoS8/default.jpg,False,False,False,「２０１８Ｗ杯ロシア大会日本代表戦ライヴイベント」日本代表のグループリーグ３試合をLeo t...,13:56:47
20522,2IEWv23oa9E,18.14.06,エサのコオロギに夢中で二本足で立つカメレオン,釣りよかHOUSE,24,2018-06-13T09:00:00.000Z,"よーらい|""佐賀よかでしょう""|""釣りよかでしょう""|""釣り""",46265,816,40,59,https://i.ytimg.com/vi/2IEWv23oa9E/default.jpg,False,False,False,使用した物https://amzn.to/2JwOEPGメインチャンネル 釣りよかでしょうh...,09:00:00

# 조회수 0회인 열 제외 (영상이 제거 되면 조회수가 0으로 기록)
# 트랜딩 업데이트가 되어 중복되는 title 제거

In [5]:
data2 = data[data['views']!=0]
data3 = data2.drop_duplicates("title")

In [6]:
data3.shape

(13087, 17)

In [7]:
data3.columns

Index(['video_id', 'trending_date', 'title', 'channel_title', 'category_id',
       'publish_time', 'tags', 'views', 'likes', 'dislikes', 'comment_count',
       'thumbnail_link', 'comments_disabled', 'ratings_disabled',
       'video_error_or_removed', 'description', 'time'],
      dtype='object')

In [8]:
data3 = data3[['views','likes', 'dislikes', 'comment_count','tags','time','category_id','comments_disabled','ratings_disabled']]

In [9]:
data3

,views,likes,dislikes,comment_count,tags,time,category_id,comments_disabled,ratings_disabled
0,188085,591,189,0,"事故|""佐賀""|""佐賀県""|""ヘリコプター""|""ヘリ""|""自衛隊""|""墜落""|""落下""|""現...",03:04:37,25,True,False
1,90929,442,88,174,[none],04:01:56,1,False,False
2,6408303,165892,2331,3006,[none],21:38:22,28,False,False
3,96255,1165,277,545,アシタノワダイ,06:08:49,25,False,False
4,108408,1336,74,201,[none],02:30:00,1,False,False
...,...,...,...,...,...,...,...,...,...
20467,35735,1959,9,311,"ピアノ|""piano""|""marasy8""|""まらしぃ""",10:46:36,10,False,False
20468,38214,551,75,90,"ポケモンgo|""ポケモン""|""GO""|""はつだ""|""はっちゃんねる""|""実況""|""攻略""|""...",10:00:00,20,False,False
20469,640996,10105,1034,1961,[none],10:33:56,29,False,False
20470,134920,3766,180,408,"nepali comedy video|""nepali comedy serial""|""ne...",14:15:01,23,False,False
20472,17237,369,29,93,"おこぷれ|""おこさまぷれ〜と。""|""YouTuber""|""JK""|""女子高生""|""おこさまぷ...",11:00:03,24,False,False

# 댓글 막기, 평가 내린 것 안보이게 막기 범주 0,1 변환

In [10]:
data3['comments_block'] = data3.comments_disabled.replace({False, True},{0, 1})
#data3.comments_disabled.replace(True, 1)

In [11]:
data3['ratings_block'] = data3.ratings_disabled.replace({False, True},{0, 1})

# 출간 시간대 변수 변환

In [12]:
data3.time

0        03:04:37
1        04:01:56
2        21:38:22
3        06:08:49
4        02:30:00
           ...
20467    10:46:36
20468    10:00:00
20469    10:33:56
20470    14:15:01
20472    11:00:03
Name: time, Length: 13087, dtype: object

In [13]:
data3['pub_time'] = pd.to_numeric(data3.time.str.slice(0,2))

In [14]:
data3.dtypes # 문자열 파일 숫자형으로 변환 완료

views                 int64
likes                 int64
dislikes              int64
comment_count         int64
tags                 object
time                 object
category_id           int64
comments_disabled      bool
ratings_disabled       bool
comments_block        int64
ratings_block         int64
pub_time              int64
dtype: object

# 태그 유무 전처리

In [15]:
data4 = data3[data3.tags!='[none]']

In [16]:
data4['tag_yn'] = 1

<ipython-input-16-039ff464554b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data4['tag_yn'] = 1

In [17]:
data4

,views,likes,dislikes,comment_count,tags,time,category_id,comments_disabled,ratings_disabled,comments_block,ratings_block,pub_time,tag_yn
0,188085,591,189,0,"事故|""佐賀""|""佐賀県""|""ヘリコプター""|""ヘリ""|""自衛隊""|""墜落""|""落下""|""現...",03:04:37,25,True,False,1,0,3,1
3,96255,1165,277,545,アシタノワダイ,06:08:49,25,False,False,0,0,6,1
5,193593,0,0,53,"有賀さつき|""八木亜希子""|""河野景子""|""貴乃花""|""三宅""|""ありがさつき""|""和田圭""",03:27:10,22,False,True,0,1,3,1
9,105112,1547,540,499,"卵|""玉子""|""TKG""|""醤油""|""たまごかけご飯""|""卵かけご飯""|""Recipe (L...",06:30:00,19,False,False,0,0,6,1
11,245032,3020,222,0,"DHC|""DHCテレビ""|""DHCテレビジョン""|""虎ノ門""|""ニュース""|""NEWS""|""...",01:25:07,24,True,False,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20465,46409,5389,22,1150,"TokinoSora|""ときのそら""|""そら""|""そらちゃん""|""時乃そら""|""そらチャンネ...",10:16:07,24,False,False,0,0,10,1
20467,35735,1959,9,311,"ピアノ|""piano""|""marasy8""|""まらしぃ""",10:46:36,10,False,False,0,0,10,1
20468,38214,551,75,90,"ポケモンgo|""ポケモン""|""GO""|""はつだ""|""はっちゃんねる""|""実況""|""攻略""|""...",10:00:00,20,False,False,0,0,10,1
20470,134920,3766,180,408,"nepali comedy video|""nepali comedy serial""|""ne...",14:15:01,23,False,False,0,0,14,1
20472,17237,369,29,93,"おこぷれ|""おこさまぷれ〜と。""|""YouTuber""|""JK""|""女子高生""|""おこさまぷ...",11:00:03,24,False,False,0,0,11,1

In [18]:
data5 = data3[data3.tags=='[none]']

In [19]:
data5['tag_yn'] = 0

<ipython-input-19-abf45856b82c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data5['tag_yn'] = 0

In [20]:
data5

,views,likes,dislikes,comment_count,tags,time,category_id,comments_disabled,ratings_disabled,comments_block,ratings_block,pub_time,tag_yn
1,90929,442,88,174,[none],04:01:56,1,False,False,0,0,4,0
2,6408303,165892,2331,3006,[none],21:38:22,28,False,False,0,0,21,0
4,108408,1336,74,201,[none],02:30:00,1,False,False,0,0,2,0
6,55465,189,339,800,[none],05:31:33,22,False,False,0,0,5,0
7,66272,51,167,164,[none],07:01:29,23,False,False,0,0,7,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20418,50804,4157,39,286,[none],15:00:01,10,False,False,0,0,15,0
20419,46910,2225,33,31,[none],14:47:35,24,False,False,0,0,14,0
20432,26847,84,20,0,[none],12:37:56,17,True,False,1,0,12,0
20451,111141,267,39,552,[none],12:58:59,17,False,False,0,0,12,0
20469,640996,10105,1034,1961,[none],10:33:56,29,False,False,0,0,10,0

In [21]:
data6 = pd.concat([data4, data5])

In [22]:
data6

,views,likes,dislikes,comment_count,tags,time,category_id,comments_disabled,ratings_disabled,comments_block,ratings_block,pub_time,tag_yn
0,188085,591,189,0,"事故|""佐賀""|""佐賀県""|""ヘリコプター""|""ヘリ""|""自衛隊""|""墜落""|""落下""|""現...",03:04:37,25,True,False,1,0,3,1
3,96255,1165,277,545,アシタノワダイ,06:08:49,25,False,False,0,0,6,1
5,193593,0,0,53,"有賀さつき|""八木亜希子""|""河野景子""|""貴乃花""|""三宅""|""ありがさつき""|""和田圭""",03:27:10,22,False,True,0,1,3,1
9,105112,1547,540,499,"卵|""玉子""|""TKG""|""醤油""|""たまごかけご飯""|""卵かけご飯""|""Recipe (L...",06:30:00,19,False,False,0,0,6,1
11,245032,3020,222,0,"DHC|""DHCテレビ""|""DHCテレビジョン""|""虎ノ門""|""ニュース""|""NEWS""|""...",01:25:07,24,True,False,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20418,50804,4157,39,286,[none],15:00:01,10,False,False,0,0,15,0
20419,46910,2225,33,31,[none],14:47:35,24,False,False,0,0,14,0
20432,26847,84,20,0,[none],12:37:56,17,True,False,1,0,12,0
20451,111141,267,39,552,[none],12:58:59,17,False,False,0,0,12,0
20469,640996,10105,1034,1961,[none],10:33:56,29,False,False,0,0,10,0

# 만들고 필요한 변수들만 가져오기 1

In [23]:
data6 = data6[['views','likes','dislikes','comment_count','category_id','comments_block','ratings_block','pub_time','tag_yn']]

In [24]:
data6.columns

Index(['views', 'likes', 'dislikes', 'comment_count', 'category_id',
       'comments_block', 'ratings_block', 'pub_time', 'tag_yn'],
      dtype='object')

In [26]:
data6 = data6[data6.likes!=0]
data6 = data6[data6.dislikes!=0]

In [27]:
data6.shape

(11945, 9)

# 긍정 <= 부정 타겟 생성  부정이 높거나 같으면 1 낮으면 긍정

In [28]:
data6['rate']= data6.likes/data6.dislikes

In [29]:
data6.rate.describe()

count    11945.000000
mean        39.632377
std         82.652137
min          0.015493
25%          5.908397
50%         15.000000
75%         38.888889
max       1935.000000
Name: rate, dtype: float64

# 긍정 보통 부정 target 선정

In [30]:
data7 = data6[data6.rate>=38]

In [31]:
data7['Target'] = '긍정'

<ipython-input-31-6ddd65f5915f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data7['Target'] = '긍정'

In [32]:
data8 = data6[(data6.rate < 38) & (data6.rate>=3.5)]

In [33]:
data8['Target'] = '보통'

<ipython-input-33-1a834e072575>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data8['Target'] = '보통'

In [34]:
data9 = data6[data6.rate < 3.5]

In [35]:
data9['Target']='부정'

<ipython-input-35-aa96bfc9c773>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data9['Target']='부정'

In [36]:
data7.shape,data8.shape,data9.shape

((3040, 11), (7097, 11), (1808, 11))

In [37]:
data7.shape[0]+data8.shape[0]+data9.shape[0]

11945

In [38]:
data10 = pd.concat([data7, data8, data9])

In [39]:
data10

,views,likes,dislikes,comment_count,category_id,comments_block,ratings_block,pub_time,tag_yn,rate,Target
13,120824,5699,89,699,26,0,0,8,1,64.033708,긍정
23,12637,288,3,21,2,0,0,0,1,96.000000,긍정
25,12908071,290084,5326,26863,24,0,0,2,1,54.465640,긍정
137,223565,1714,35,154,24,0,0,8,1,48.971429,긍정
139,88496,5714,36,266,24,0,0,3,1,158.722222,긍정
...,...,...,...,...,...,...,...,...,...,...,...
18604,362505,751,339,622,22,0,0,8,0,2.215339,부정
18645,22337,181,77,49,24,0,0,21,0,2.350649,부정
18780,62502,167,58,166,25,0,0,23,0,2.879310,부정
19551,155271,288,635,1912,17,0,0,23,0,0.453543,부정
19965,16679,201,72,99,24,0,0,8,0,2.791667,부정

In [40]:
data6.shape

(11945, 10)

In [41]:
data10.Target.value_counts()

보통    7097
긍정    3040
부정    1808
Name: Target, dtype: int64

In [43]:
data10

,views,likes,dislikes,comment_count,category_id,comments_block,ratings_block,pub_time,tag_yn,rate,Target
13,120824,5699,89,699,26,0,0,8,1,64.033708,긍정
23,12637,288,3,21,2,0,0,0,1,96.000000,긍정
25,12908071,290084,5326,26863,24,0,0,2,1,54.465640,긍정
137,223565,1714,35,154,24,0,0,8,1,48.971429,긍정
139,88496,5714,36,266,24,0,0,3,1,158.722222,긍정
...,...,...,...,...,...,...,...,...,...,...,...
18604,362505,751,339,622,22,0,0,8,0,2.215339,부정
18645,22337,181,77,49,24,0,0,21,0,2.350649,부정
18780,62502,167,58,166,25,0,0,23,0,2.879310,부정
19551,155271,288,635,1912,17,0,0,23,0,0.453543,부정
19965,16679,201,72,99,24,0,0,8,0,2.791667,부정

In [47]:
data10 = data10.rename(columns={'views':'view_count','category_id':'categoryId'})

In [48]:
df = data10[['view_count','comment_count','categoryId','comments_block','ratings_block','pub_time','tag_yn','Target']]

In [49]:
df

,view_count,comment_count,categoryId,comments_block,ratings_block,pub_time,tag_yn,Target
13,120824,699,26,0,0,8,1,긍정
23,12637,21,2,0,0,0,1,긍정
25,12908071,26863,24,0,0,2,1,긍정
137,223565,154,24,0,0,8,1,긍정
139,88496,266,24,0,0,3,1,긍정
...,...,...,...,...,...,...,...,...
18604,362505,622,22,0,0,8,0,부정
18645,22337,49,24,0,0,21,0,부정
18780,62502,166,25,0,0,23,0,부정
19551,155271,1912,17,0,0,23,0,부정
19965,16679,99,24,0,0,8,0,부정

In [50]:
from sklearn.tree import DecisionTreeClassifier
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
X_train, X_test, y_train,y_test = train_test_split(df.iloc[:,0:7], df.iloc[:,7:8], random_state=0)

In [51]:
X_train.shape,X_test.shape

((8958, 7), (2987, 7))

In [52]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(max_iter=1000)
lr.fit(X_train, y_train)
lr.score(X_train, y_train),lr.score(X_test, y_test)

C:\Users\CPB06GameN\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

(0.5951105157401205, 0.6036156678942083)

In [53]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=229)
knn.fit(X_train,y_train)
knn.score(X_train, y_train), knn.score(X_test, y_test)

<ipython-input-53-a1bd534a785b>:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  knn.fit(X_train,y_train)

(0.5916499218575575, 0.601606963508537)

In [54]:
from sklearn.tree import DecisionTreeClassifier
tree = DecisionTreeClassifier(random_state=283)
tree.fit(X_train, y_train)
tree.score(X_train, y_train) , tree.score(X_test, y_test)

(1.0, 0.547706729159692)

In [55]:
from sklearn.ensemble import RandomForestClassifier
forest = RandomForestClassifier(n_estimators=70,random_state=3)
forest.fit(X_train,y_train)
forest.score(X_train, y_train) , forest.score(X_test, y_test)

<ipython-input-55-5c093a678eb4>:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  forest.fit(X_train,y_train)

(0.9997767358785443, 0.6360897221292267)

In [57]:
df.to_csv("Japen.csv")