In [1]:
import pandas as pd
data = pd.read_csv('USvideos.csv')
data.columns

Index(['video_id', 'trending_date', 'title', 'channel_title', 'category_id',
       'publish_time', 'tags', 'views', 'likes', 'dislikes', 'comment_count',
       'thumbnail_link', 'comments_disabled', 'ratings_disabled',
       'video_error_or_removed', 'description'],
      dtype='object')

In [2]:
data['time'] = data.publish_time.str.slice(11,19)

In [3]:
data.shape

(40949, 17)

In [4]:
data

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,time
0,2kyS6SvSYSE,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,SHANtell martin,748374,57527,2966,15954,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...,17:13:01
1,1ZAPwfrtAFY,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,2017-11-13T07:30:00.000Z,"last week tonight trump presidency|""last week ...",2418783,97185,6146,12703,https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg,False,False,False,"One year after the presidential election, John...",07:30:00
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146033,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...,19:05:24
3,puqaWrEC7tY,17.14.11,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24,2017-11-13T11:00:04.000Z,"rhett and link|""gmm""|""good mythical morning""|""...",343168,10172,666,2146,https://i.ytimg.com/vi/puqaWrEC7tY/default.jpg,False,False,False,Today we find out if Link is a Nickelback amat...,11:00:04
4,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095731,132235,1989,17518,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...,18:01:41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40944,BZt0qjTWNhw,18.14.06,The Cat Who Caught the Laser,AaronsAnimals,15,2018-05-18T13:00:04.000Z,"aarons animals|""aarons""|""animals""|""cat""|""cats""...",1685609,38160,1385,2657,https://i.ytimg.com/vi/BZt0qjTWNhw/default.jpg,False,False,False,The Cat Who Caught the Laser - Aaron's Animals,13:00:04
40945,1h7KV2sjUWY,18.14.06,True Facts : Ant Mutualism,zefrank1,22,2018-05-18T01:00:06.000Z,[none],1064798,60008,382,3936,https://i.ytimg.com/vi/1h7KV2sjUWY/default.jpg,False,False,False,NaN,01:00:06
40946,D6Oy4LfoqsU,18.14.06,I GAVE SAFIYA NYGAARD A PERFECT HAIR MAKEOVER ...,Brad Mondo,24,2018-05-18T17:34:22.000Z,I gave safiya nygaard a perfect hair makeover ...,1066451,48068,1032,3992,https://i.ytimg.com/vi/D6Oy4LfoqsU/default.jpg,False,False,False,I had so much fun transforming Safiyas hair in...,17:34:22
40947,oV0zkMe1K8s,18.14.06,How Black Panther Should Have Ended,How It Should Have Ended,1,2018-05-17T17:00:04.000Z,"Black Panther|""HISHE""|""Marvel""|""Infinity War""|...",5660813,192957,2846,13088,https://i.ytimg.com/vi/oV0zkMe1K8s/default.jpg,False,False,False,How Black Panther Should Have EndedWatch More ...,17:00:04
40948,ooyjaVdt-jA,18.14.06,Official Call of Duty®: Black Ops 4 — Multipla...,Call of Duty,20,2018-05-17T17:09:38.000Z,"call of duty|""cod""|""activision""|""Black Ops 4""",10306119,357079,212976,144795,https://i.ytimg.com/vi/ooyjaVdt-jA/default.jpg,False,False,False,Call of Duty: Black Ops 4 Multiplayer raises t...,17:09:38

# 조회수 0회인 열 제외 (영상이 제거 되면 조회수가 0으로 기록)
# 트랜딩 업데이트가 되어 중복되는 title 제거

In [5]:
data2 = data[data['views']!=0]
data3 = data2.drop_duplicates("title")

In [6]:
data3.shape

(6455, 17)

In [7]:
data3.columns

Index(['video_id', 'trending_date', 'title', 'channel_title', 'category_id',
       'publish_time', 'tags', 'views', 'likes', 'dislikes', 'comment_count',
       'thumbnail_link', 'comments_disabled', 'ratings_disabled',
       'video_error_or_removed', 'description', 'time'],
      dtype='object')

In [8]:
data3 = data3[['views','likes', 'dislikes', 'comment_count','tags','time','category_id','comments_disabled','ratings_disabled']]

In [9]:
data3

,views,likes,dislikes,comment_count,tags,time,category_id,comments_disabled,ratings_disabled
0,748374,57527,2966,15954,SHANtell martin,17:13:01,22,False,False
1,2418783,97185,6146,12703,"last week tonight trump presidency|""last week ...",07:30:00,24,False,False
2,3191434,146033,5339,8181,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",19:05:24,23,False,False
3,343168,10172,666,2146,"rhett and link|""gmm""|""good mythical morning""|""...",11:00:04,24,False,False
4,2095731,132235,1989,17518,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",18:01:41,24,False,False
...,...,...,...,...,...,...,...,...,...
40760,607422,26166,895,3517,"Laura88Lee|""crayola""|""crayon makeup""|""crayola ...",18:55:26,26,False,False
40761,812832,7701,320,2505,"espn|""espn live""|""boston celtics""|""kyrie irvin...",15:06:08,17,False,False
40762,864189,18811,399,1074,"The Late Late Show|""Late Late Show""|""James Cor...",05:27:27,24,False,False
40764,540149,14206,693,1211,"bon appetit|""burgers""|""cheeseburgers""|""how to ...",16:03:58,26,False,False
40766,296295,8157,294,764,"jimmy|""kimmel""|""live""|""late""|""night""|""talk""|""s...",09:00:06,24,False,False

# 댓글 막기, 평가 내린 것 안보이게 막기 범주 0,1 변환

In [10]:
data3['comments_block'] = data3.comments_disabled.replace({False, True},{0, 1})
#data3.comments_disabled.replace(True, 1)

In [11]:
data3['ratings_block'] = data3.ratings_disabled.replace({False, True},{0, 1})

# 출간 시간대 변수 변환

In [12]:
data3.time

0        17:13:01
1        07:30:00
2        19:05:24
3        11:00:04
4        18:01:41
           ...
40760    18:55:26
40761    15:06:08
40762    05:27:27
40764    16:03:58
40766    09:00:06
Name: time, Length: 6455, dtype: object

In [13]:
data3['pub_time'] = pd.to_numeric(data3.time.str.slice(0,2))

In [14]:
data3.dtypes # 문자열 파일 숫자형으로 변환 완료

views                 int64
likes                 int64
dislikes              int64
comment_count         int64
tags                 object
time                 object
category_id           int64
comments_disabled      bool
ratings_disabled       bool
comments_block        int64
ratings_block         int64
pub_time              int64
dtype: object

# 태그 유무 전처리

In [15]:
data4 = data3[data3.tags!='[none]']

In [16]:
data4['tag_yn'] = 1

<ipython-input-16-039ff464554b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data4['tag_yn'] = 1

In [17]:
data4

,views,likes,dislikes,comment_count,tags,time,category_id,comments_disabled,ratings_disabled,comments_block,ratings_block,pub_time,tag_yn
0,748374,57527,2966,15954,SHANtell martin,17:13:01,22,False,False,0,0,17,1
1,2418783,97185,6146,12703,"last week tonight trump presidency|""last week ...",07:30:00,24,False,False,0,0,7,1
2,3191434,146033,5339,8181,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",19:05:24,23,False,False,0,0,19,1
3,343168,10172,666,2146,"rhett and link|""gmm""|""good mythical morning""|""...",11:00:04,24,False,False,0,0,11,1
4,2095731,132235,1989,17518,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",18:01:41,24,False,False,0,0,18,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
40760,607422,26166,895,3517,"Laura88Lee|""crayola""|""crayon makeup""|""crayola ...",18:55:26,26,False,False,0,0,18,1
40761,812832,7701,320,2505,"espn|""espn live""|""boston celtics""|""kyrie irvin...",15:06:08,17,False,False,0,0,15,1
40762,864189,18811,399,1074,"The Late Late Show|""Late Late Show""|""James Cor...",05:27:27,24,False,False,0,0,5,1
40764,540149,14206,693,1211,"bon appetit|""burgers""|""cheeseburgers""|""how to ...",16:03:58,26,False,False,0,0,16,1
40766,296295,8157,294,764,"jimmy|""kimmel""|""live""|""late""|""night""|""talk""|""s...",09:00:06,24,False,False,0,0,9,1

In [18]:
data5 = data3[data3.tags=='[none]']

In [19]:
data5['tag_yn'] = 0

<ipython-input-19-abf45856b82c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data5['tag_yn'] = 0

In [20]:
data5

,views,likes,dislikes,comment_count,tags,time,category_id,comments_disabled,ratings_disabled,comments_block,ratings_block,pub_time,tag_yn
42,945,7,5,8,[none],15:11:00,17,False,False,0,0,15,0
97,284666,16396,81,949,[none],18:02:04,15,False,False,0,0,18,0
133,366180,4364,4448,1997,[none],02:37:49,24,False,False,0,0,2,0
136,95944,1354,181,117,[none],15:49:21,10,False,False,0,0,15,0
175,1827,3,0,2,[none],20:48:16,28,False,False,0,0,20,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
37750,1191202,37446,1281,3226,[none],12:00:11,10,False,False,0,0,12,0
37953,1058246,102940,707,18157,[none],14:22:13,28,False,False,0,0,14,0
39154,9988608,151348,10274,33131,[none],07:00:01,1,False,False,0,0,7,0
39780,1029089,7382,483,703,[none],07:01:06,10,False,False,0,0,7,0
40362,978409,53578,502,11281,[none],21:14:22,20,False,False,0,0,21,0

In [21]:
data6 = pd.concat([data4, data5])

In [22]:
data6

,views,likes,dislikes,comment_count,tags,time,category_id,comments_disabled,ratings_disabled,comments_block,ratings_block,pub_time,tag_yn
0,748374,57527,2966,15954,SHANtell martin,17:13:01,22,False,False,0,0,17,1
1,2418783,97185,6146,12703,"last week tonight trump presidency|""last week ...",07:30:00,24,False,False,0,0,7,1
2,3191434,146033,5339,8181,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",19:05:24,23,False,False,0,0,19,1
3,343168,10172,666,2146,"rhett and link|""gmm""|""good mythical morning""|""...",11:00:04,24,False,False,0,0,11,1
4,2095731,132235,1989,17518,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",18:01:41,24,False,False,0,0,18,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
37750,1191202,37446,1281,3226,[none],12:00:11,10,False,False,0,0,12,0
37953,1058246,102940,707,18157,[none],14:22:13,28,False,False,0,0,14,0
39154,9988608,151348,10274,33131,[none],07:00:01,1,False,False,0,0,7,0
39780,1029089,7382,483,703,[none],07:01:06,10,False,False,0,0,7,0
40362,978409,53578,502,11281,[none],21:14:22,20,False,False,0,0,21,0

# 만들고 필요한 변수들만 가져오기 1

In [23]:
data6 = data6[['views','likes','dislikes','comment_count','category_id','comments_block','ratings_block','pub_time','tag_yn']]

In [24]:
data6.columns

Index(['views', 'likes', 'dislikes', 'comment_count', 'category_id',
       'comments_block', 'ratings_block', 'pub_time', 'tag_yn'],
      dtype='object')

In [25]:
data6 = data6[data6.likes!=0]
data6 = data6[data6.dislikes!=0]

In [26]:
data6.shape

(6344, 9)

# 긍정 <= 부정 타겟 생성  부정이 높거나 같으면 1 낮으면 긍정

In [27]:
data6['rate']= data6.likes/data6.dislikes

In [28]:
data6.rate.describe()

count    6344.000000
mean       51.282600
std        62.528626
min         0.041583
25%        13.635737
50%        32.653130
75%        67.413635
max      1737.333333
Name: rate, dtype: float64

# 긍정 보통 부정 target 선정

In [30]:
data7 = data6[data6.rate>=67]

In [31]:
data7['Target'] = '긍정'

<ipython-input-31-6ddd65f5915f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data7['Target'] = '긍정'

In [32]:
data8 = data6[(data6.rate < 67) & (data6.rate>=3.5)]

In [33]:
data8['Target'] = '보통'

<ipython-input-33-1a834e072575>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data8['Target'] = '보통'

In [34]:
data9 = data6[data6.rate < 3.5]

In [35]:
data9['Target']='부정'

<ipython-input-35-aa96bfc9c773>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data9['Target']='부정'

In [36]:
data7.shape,data8.shape,data9.shape

((1607, 11), (4311, 11), (426, 11))

In [37]:
data7.shape[0]+data8.shape[0]+data9.shape[0]

6344

In [38]:
data10 = pd.concat([data7, data8, data9])

In [39]:
data10

,views,likes,dislikes,comment_count,category_id,comments_block,ratings_block,pub_time,tag_yn,rate,Target
12,687582,114188,1333,8371,10,0,0,17,1,85.662416,긍정
15,75752,9419,52,1230,28,0,0,20,1,181.134615,긍정
17,78044,5398,53,385,27,0,0,16,1,101.849057,긍정
18,97007,11963,36,2211,28,0,0,15,1,332.305556,긍정
20,115791,9586,75,2800,27,0,0,14,1,127.813333,긍정
...,...,...,...,...,...,...,...,...,...,...,...
18201,16080,377,247,481,25,0,0,20,0,1.526316,부정
18609,32662,598,840,428,22,0,0,13,0,0.711905,부정
19189,231920,399,174,696,10,0,0,19,0,2.293103,부정
19787,33657,349,108,62,24,0,0,14,0,3.231481,부정
20022,10182,137,69,0,25,1,0,17,0,1.985507,부정

In [40]:
data6.shape

(6344, 10)

In [41]:
data10.Target.value_counts()

보통    4311
긍정    1607
부정     426
Name: Target, dtype: int64

In [42]:
data10.shape

(6344, 11)

In [43]:
data10 = data10.rename(columns={'views':'view_count','category_id':'categoryId'})

In [44]:
df = data10[['view_count','comment_count','categoryId','comments_block','ratings_block','pub_time','tag_yn','Target']]

In [45]:
df

,view_count,comment_count,categoryId,comments_block,ratings_block,pub_time,tag_yn,Target
12,687582,8371,10,0,0,17,1,긍정
15,75752,1230,28,0,0,20,1,긍정
17,78044,385,27,0,0,16,1,긍정
18,97007,2211,28,0,0,15,1,긍정
20,115791,2800,27,0,0,14,1,긍정
...,...,...,...,...,...,...,...,...
18201,16080,481,25,0,0,20,0,부정
18609,32662,428,22,0,0,13,0,부정
19189,231920,696,10,0,0,19,0,부정
19787,33657,62,24,0,0,14,0,부정
20022,10182,0,25,1,0,17,0,부정

In [46]:
from sklearn.tree import DecisionTreeClassifier
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
X_train, X_test, y_train,y_test = train_test_split(df.iloc[:,0:7], df.iloc[:,7:8], random_state=0)

In [47]:
X_train.shape,X_test.shape

((4758, 7), (1586, 7))

In [48]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(max_iter=1000)
lr.fit(X_train, y_train)
lr.score(X_train, y_train),lr.score(X_test, y_test)

C:\Users\CPB06GameN\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

(0.6782261454392602, 0.6885245901639344)

In [49]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=229)
knn.fit(X_train,y_train)
knn.score(X_train, y_train), knn.score(X_test, y_test)

<ipython-input-49-a1bd534a785b>:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  knn.fit(X_train,y_train)

(0.6763345943673813, 0.6891551071878941)

In [50]:
from sklearn.tree import DecisionTreeClassifier
tree = DecisionTreeClassifier(random_state=283)
tree.fit(X_train, y_train)
tree.score(X_train, y_train) , tree.score(X_test, y_test)

(1.0, 0.6134930643127364)

In [51]:
from sklearn.ensemble import RandomForestClassifier
forest = RandomForestClassifier(n_estimators=70,random_state=3)
forest.fit(X_train,y_train)
forest.score(X_train, y_train) , forest.score(X_test, y_test)

<ipython-input-51-5c093a678eb4>:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  forest.fit(X_train,y_train)

(0.9995796553173603, 0.6784363177805801)

In [52]:
df

,view_count,comment_count,categoryId,comments_block,ratings_block,pub_time,tag_yn,Target
12,687582,8371,10,0,0,17,1,긍정
15,75752,1230,28,0,0,20,1,긍정
17,78044,385,27,0,0,16,1,긍정
18,97007,2211,28,0,0,15,1,긍정
20,115791,2800,27,0,0,14,1,긍정
...,...,...,...,...,...,...,...,...
18201,16080,481,25,0,0,20,0,부정
18609,32662,428,22,0,0,13,0,부정
19189,231920,696,10,0,0,19,0,부정
19787,33657,62,24,0,0,14,0,부정
20022,10182,0,25,1,0,17,0,부정

In [54]:
df.to_csv("america.csv")